@model webapiclient2.Models.Flight

@{
    ViewData["Title"] = "FlightDetails";
}

    <h1>Flight details n°@Html.DisplayFor(model => model.FlightNo)</h1>

<div>
    <hr />
    <dl class="row">
        @*<dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FlightNo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FlightNo)
        </dd>*@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Departure)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Departure)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Destination)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Destination)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AvailableSeats)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AvailableSeats)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Seats)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Seats)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BasePrice)
        </dt>
        <dd class="col-sm-10">
            <b>@Html.DisplayFor(model => model.BasePrice).- CHF</b>
        </dd>
    </dl>
</div>
<div>
    <div>
        @using (Html.BeginForm("BookThisFlight", "Home", new { flightNo = Model.FlightNo, basePrice = Model.BasePrice, flightClass = "first" }, FormMethod.Post))
        {
            // Flight type
            @Html.DropDownList("ObjList", (IEnumerable<SelectListItem>)ViewBag.Locations, new { style = "width: 305px;" })
            <br />

            // Extras
            @Html.CheckBox("luggage")
            <text> Luggage + CHF 40.-</text>
            <br />
            @Html.CheckBox("meal")
            <text> Meal + CHF 20.-</text>
            <br />
            @Html.CheckBox("tv")
            <text> TV + CHF 10.-</text>
            <br />
            <br />
            // Error message for username
            @if (@ViewBag.ErrorMessage == "invalidUsername")
            {
                <b style="color:red">@Html.Label("*Enter a valid username*")</b>
            }
            else
            {
                <b>@Html.Label("Enter your username")</b>
            }
            <br />
            @Html.TextBox("username", "", new { style = "width: 305px;" })
            <p></p>
            <input type="button" class="btn btn-info btn-sm active" style="width:150px" value="CANCEL" onclick="@("window.location.href='" + @Url.Action("Index", "Home") + "'");" />
            <input type="submit" class="btn btn-info btn-sm active" style="background-color:green;width:150px;" value="BOOK" id="btnSubmit" name="Submit" />
        }
    </div>
</div>
