@model IEnumerable<webapiclient2.Models.Flight>

@{
    ViewData["Title"] = "Available flights";
}

<h1>Available flights</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FlightNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Departure)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Destination)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AvailableSeats)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Seats)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FlightNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Departure)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Destination)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvailableSeats)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Seats)
            </td>
            <td>
                <input type="button" class="btn btn-info btn-sm active" value="Book this flight" onclick="@("window.location.href='" + @Url.Action("FlightDetails", "Home", new { id = item.FlightNo }) + "'");" />
            </td>
        </tr>
}
    </tbody>
</table>
